<?xml version="1.0"?>
<launch>

    <arg name="param_config_name" default="vehicle_config" />
    <arg name="config_file" default="$(find bicycle_model_odometry)/config/$(arg param_config_name).yaml" />
  
    <node pkg="bicycle_model_odometry" type="bicycle_model_odometry" name="vehicle_odomoetry" output="screen">
        <rosparam command="load" file="$(arg config_file)" />
    </node>

    <node pkg="odometry_visualization" type="odometry_visualization" name="rviz_visualization">
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/vehicle_odometry/src/odometry_visualization/rviz/vehicle_odometry.rviz" output="screen">
    </node>
     
</launch>